/* FSGuide standard style sheet */ 

body           { font-size: 10pt; font-family: Verdana, Arial; margin-top: 0; margin-bottom: 0; margin-left: 3px; margin-right: 3px; }

/* table caption containing driveletters under Windows, and navigator line */
caption        { font-size: 10pt; text-align: left; border-bottom: 1px solid gray; }
fieldset       { font-size: 10pt; margin: 0; border: 1px solid black; padding: 5px; }
legend         { font-weight: bold; padding: 5px; }

td             { font-size: 10pt; }
td.borderright { border-right: 1px solid gray; }
td.borderhoriz { border-top: 1px solid gray; border-bottom: 1px solid gray; }
td.small       { vertical-align: middle; font-size: 8pt; }

.mono        { font-family: monospace; font-size: 8pt; }

tr.alternate   { background-color: #eeeeee; }

.small	       { font-size: 8pt; }
A              { color: #201010; font-size: 10pt; }
A:HOVER        { color: #806060; font-size: 10pt; }
A.small:HOVER  { font-size: 8pt; }
A.clean	       { font-family: none; font-size: none; color: none; }

/* 
highlight class is:
  - driveletters under Windows
  - synchronize links (<< and >>)
*/ 

A.highlight       { color: black; text-decoration: none; }
A.highlight:HOVER { background-color: white; }
A.highlightmicro       { font-size: 8pt; color: black; text-decoration: none; }
A.highlightmicro:HOVER { font-size: 8pt; background-color: white; }

/* file permissions */
.red	       { color: red; }
.green         { color: green; }
.blue          { color: blue; }

.headerfooter  { background-color: #dddddd; }
.divider       { vertical-align: top; background-color: #aaaaaa; }
.blackborder   { border: 1px solid black; padding: 0; margin: 0;}

.button        { border: 1px solid black; color: black; background-color: #dddddd; margin: 2px; }
.menubutton    { font-size: 8pt; border: 1px solid black; color: black; background-color: #dddddd; margin: 2px; }

.phperror      { background-color: #a0a0a0; }
.dialog	       { font-size: 7pt; }
td.dialog      { vertical-align: top; }
