AuthUserFile /var/www/members/.htpasswd
AuthName "Skyline Members Only"
AuthType Basic
Options ExecCGI
IndexOrderDefault Descending Date

<Limit GET POST>
require valid-user
</Limit>

ReadmeName README.shtml
HeaderName HEADER.shtml



